<a href="https://colab.research.google.com/github/HasanFil/TASK/blob/main/TASK_3A.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np

In [7]:
population_dict = {'Bursa': 3147818,'İstanbul': 15460000,'Antalya': 2548308,'Ankara': 5504000,'İzmir': 4321000,'Kocaeli': 2033441,'Aydın': 1134031}
area_dict = {'Bursa': 10820,'İstanbul': 5343,'Antalya': 1417,'Ankara': 24521,'İzmir': 11891,'Kocaeli': 3626,'Aydın': 1582}
area = pd.Series(area_dict)
population=pd.Series(population_dict)
data=pd.DataFrame({"Population": population,"Area": area})
data

          Population   Area
Bursa        3147818  10820
İstanbul    15460000   5343
Antalya      2548308   1417
Ankara       5504000  24521
İzmir        4321000  11891
Kocaeli      2033441   3626
Aydın        1134031   1582